<%- include('../head.ejs') %>
    <!-- Dont delete it -->
    <div class="row m-0 p-0">
        <div class="col m-0 p-0 sidebar-inner">
            <p>AIRLINE</p>
            <ul class="sidebar-inner-item">
                <li class="active">
                    <a href="">List Airlines</a>
                </li>

            </ul>
        </div>
        <div class="col container-content">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="#">Airline</a></li>
                    <li class="breadcrumb-item"><a href="/admin/airline/list">List Airlines</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Airline</li>
                </ol>
            </nav>
            <!-- Dont delete it -->


            <!-- Konten dibawah -->

            <div class="row">
                <div class="col my-auto">
                    <h3 class="page-title">Edit Airline</h3>
                </div>
                <div class="col text-end">
                    <a href="/admin/airline/list" class="btn btn-custom-primary ">
                        Back To Airline Data</a>
                </div>
            </div>
            <div class="container-fluid container-form">
                <form action="<%= process.env.BASE_URL %>/admin/airline/update/<%= airline.id %>" method="post"
                    enctype="multipart/form-data">
                    <div class="row row-form">
                        <div class="col-lg-2 my-auto">
                            <label for="airline_name">Airline Name <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-4 ">
                            <input class="form-control form-custom" type="text" name="airline_name"
                                placeholder="Lion Air" id="airline_name" value="<%= airline.airline_name %>" required>
                        </div>
                    </div>
                    <div class="row row-form">
                        <div class="col-lg-2 ">
                            <label for="airline_picture">Logo <span class="text-danger">*</span></label>
                        </div>
                        <div class="col-lg-4 ">
                            <input name="airline_picture" class="form-control form-file" type="file"
                                id="airline_picture">
                            <small class="form-detail">File size max. 2MB</small>
                            <br>
                            <div class="card mt-2" style="width: 200px;">
                                <div class="card-header">
                                    <label class="fw-bold">Preview</label>

                                </div>
                                <div class="card-body">
                                    <img class="w-100" src=" <%=airline.airline_picture %>"
                                        alt="<%= airline.airline_name %>">
                                </div>

                            </div>

                        </div>
                    </div>


            </div>

            <div class="container-fluid">
                <div class="row button-group ">
                    <a href="/admin/airline/list" class="btn btn-outline-custom btn-cancel w-auto">Cancel</a>
                    <button class="btn btn-custom-primary w-auto" onclick="isLoading()">Save</button>
                    <div class="spinner-border shadow loading mx-2" id="loading" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>

                </div>
                </form>
            </div>


            <script src="/assets/js/script.js"></script>

            <%- include('../footer.ejs') %>