<%- include('../head.ejs') %>
    <!-- Dont delete it -->
    <div class="row m-0 p-0">
        <div class="col m-0 p-0 sidebar-inner">
            <p>NOTIFICATION</p>
            <ul class="sidebar-inner-item">
                <li class="active">
                    <a href="">List Notification</a>
                </li>

            </ul>
        </div>
        <div class="col container-content">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="#">Notification</a></li>
                    <li class="breadcrumb-item active" aria-current="page">List Notification</li>
                </ol>
            </nav>

            <% if(message !="" ) { %>

                <div class="alert alert-custom alert-<%= alertType %>-custom text-center" role="alert">
                    Data successfully <%= message %>
                </div>

                <% } %>

                    <!-- Dont delete it -->


                    <!-- Konten dibawah -->


                    <div class="row mb-3">
                        <div class="col my-auto">
                            <h3 class="page-title">List Notification</h3>


                        </div>
                        <div class="col text-end">
                            <a href="/admin/notification/add" class="btn btn-custom-primary ">+ Add New Notification</a>
                        </div>
                    </div>

                    <div class="row">
                        <table class="table" id="myTable">
                            <thead>
                                <tr>
                                    <th>Notification Type</th>
                                    <th>Notification Title</th>
                                    <th>Notification Description</th>
                                    <th>User</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% notifications.map((notification)=> { %>
                                    <tr class="align-middle">
                                        <td>
                                            <%= notification.notification_type %>
                                        </td>
                                        <td>
                                            <%= notification.notification_title %>
                                        </td>
                                        <td>
                                            <%= notification.notification_description %>
                                        </td>
                                        <td>
                                            <%= notification.User.full_name%>
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-success btn-edit text-center mx-1"
                                                href="/admin/notification/edit/<%= notification.id %>">
                                                <img src="/assets/img/fi_edit.svg" alt="Edit Icon">
                                                Edit
                                            </a>
                                            <button data-bs-toggle="modal" data-bs-target="#modal<%= notification.id %>"
                                                class="btn btn-outline-danger btn-outline-delete mx-1 text-center"
                                                href="">
                                                <img src="/assets/img/fi_trash.svg" alt="Delete Icon">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modal<%= notification.id %>" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">

                                                <div class="modal-body text-center">
                                                    <img class="modal-img" src="/assets/img/airplane.png"
                                                        alt="Modal image">
                                                    <h4 class="modal-title">Deleting Notification Data</h4>
                                                    <h5 class="modal-text">Once deleted, notification data with id "<%=
                                                            notification.id %>" cannot be
                                                            restored. Are you sure
                                                            you want
                                                            to delete?</h5>
                                                    <div class="d-flex justify-content-center">
                                                        <form action="/admin/notification/delete/<%= notification.id %>"
                                                            method="post">
                                                            <button
                                                                class="btn btn-custom-primary btn-accept w-auto mx-1">Yes</button>
                                                        </form>
                                                        <button data-bs-dismiss="modal"
                                                            class="btn btn-outline-custom btn-cancel w-auto mx-1">
                                                            Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Of Modal -->
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>



                    <%- include('../footer.ejs') %>